.landing {
	margin-top: 150px;
}
.landing__header {
	font-size: 40px;
	text-transform: uppercase;
	padding-bottom: 30px;
	color: rgb(175, 151, 17);
}

.landing__description {
	font-size: 25px;
	padding-bottom: 30px;
}

.landing__link {
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 10px;
	background-color: orange; color: black;
	padding: 10px;
}

.landing__link:hover{
	background-color: red;
	color: white;
}
.homePageLink {
	text-decoration: none;
	margin-top: 200px;
	font-size: 35px;
	color: white;
}
.homePageLink:hover{
	font-size: 55px;
	color: greenyellow;
}
.quote {
	color: white;
	font-size: 25px;
}
.quote strong {
	color: greenyellow;
	margin: 5px;
	font-size: 45px;
}
.landing__link {
	font-size: 20px;
	transition: ease-in-out 0.5s;
}
.homePageLink:hover {
	font-size: 40px;
	transition: ease-in-out 0.4s;
}

.landing__img {
	margin: 0px auto;
	margin-bottom: 50px;
	padding-top: 300px;
	width: 95%;
	height: auto;
	min-height: 80vh;
	background-image: linear-gradient(#0505058f, #000000ad), url("../../pictures/landing.jpg"); /* W3C */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
