.react-calendar {
  margin-top: 50px;
  width: 90%;
  display: inline-block;
}
.react-calendar__navigation {

  .react-calendar__navigation__arrow {
      display: none;
  }

  .react-calendar__navigation__label {
      font-size: 32px;
  }
}

.react-calendar__tile {
  height: 70px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
  color: rgb(15, 70, 15);
}

.react-calendar__tile--active {
  background: #e70220;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e70220;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 18px;
}
/*
.react-calendar__month-view__days__day[highlight=true]{
  background-color: aqua;
}*/
.highlight{
  color: blue;
  font-weight: bold;
}
