.fitnessTips {
  margin-top: 75px;
  position: relative;
  margin-bottom: 40px;
}
.fitnessTips h1{
  color: rgb(153, 133, 22);
}
.header {
  position: relative;;
  text-align: center;
  font-size: 60px;
}

.fitness__options {
  font-size: 28px;
  text-decoration: underline;
}

.fitness__image {
  width: 90%;
  max-width: 500px;
  height: auto;
  transition: ease-in-out 0.4s;
  border-radius: 4px;
}

.fitness__image:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.5s;
  
}

.imgContainer {
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

