*{
  font-family: Arial, Helvetica, sans-serif;
}
.App_main {
  min-height: 100vh;
}
.content{
  padding: 20px;
  padding-bottom: 100px;
}

.footer{
  color: black !important;
  height: 75px;
  margin-top: -75px;
  overflow: hidden;
}